.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-table {
  background-color: #282c34;
  font-size: calc(1px + 2vmin);
  color: white;
}

.app-button {
  background-color: #282c34;
  font-size: calc(1px + 2vmin);
  color: white;
  border: #09d3ac 1px;
}

.App-link {
  color: #09d3ac;
}
